.solution {
  padding: 48px 0;
  background-color: var(--white);

  @include media-min($lg) {
    padding: 64px 0;
  }

  @include media-min($xxl) {
    padding: 96px 0;
  }

  &__main {
    padding: 24px 16px;

    @include media-min($lg) {
      padding: 32px;
    }

    @include media-min($xxl) {
      padding: 48px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include media-min($xxl) {
      margin-bottom: 48px;
    }

    & span {
      color: var(--accent);
    }
  }

  &__text {
    & p {
      margin: 0;
    }
  }

  &__note {
    margin-top: 32px;
    text-align: center;

    @include media-min($lg) {
      margin-top: 48px;
    }

    @include media-min($xxl) {
      margin-top: 64px;
    }

    & span {
      color: var(--accent);
    }
  }

  &__table {
    overflow-x: auto;
    width: 100%;
  }

  &__button {
    padding: 32px 16px;

    @include media-min($xxl) {
      padding: 40px 32px;
    }
  }
}
