.solution {
  padding: 64px 0 48px;
  background-color: var(--white);

  @include media-min($xl) {
    padding: 96px 0 64px;
  }

  @include media-min($xxl) {
    padding: 128px 0 96px;
  }

  &__inner {
    background-image: url("../img/dotted-bg-secondary.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 32px;
    border-radius: 6px;
  }

  &__head {
    margin-bottom: 48px;

    @include media-min($xxl) {
      margin-bottom: 64px;
    }

    @include media-min($xxl) {
      margin-bottom: 128px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include media-min($xxl) {
      margin-bottom: 48px;
    }

    & span {
      color: var(--accent);
    }
  }

  &__text {
    & p {
      margin: 0;
    }
  }

  &__note {
    padding: 24px 16px;
    text-align: center;

    & span {
      color: var(--accent);
    }
  }

  &__table {
    overflow-x: auto;
    width: 100%;
  }

  &__button {
    padding: 32px 16px;

    @include media-min($xxl) {
      padding: 40px 32px;
    }
  }
}
