.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: var(--min-site-width);
  z-index: 10;
  background-color: var(--white);
  border-radius: 0 0 12px 12px;

  &__inner {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-min($xxl) {
      padding: 12px 8px;
    }
  }

  &__content {
    display: none;

    @include media-min($xl) {
      display: flex;
    }
  }

  &__menu {
    display: flex;
    margin-right: 4px;
  }

  &__item {
    text-transform: uppercase;
    padding: 12px 8px;

    @include media-min($xxl) {
      padding: 16px 8px;
    }
  }

  &__contacts {
    display: flex;
  }

  &__contact {
    color: var(--accent);

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
  }

  &__burger-line {
    width: 100%;
    height: 2px;
    background-color: var(--accent);
  }
}
