.comparison {
  background-color: var(--white);
  padding: 48px 0;

  @include media-min($lg) {
    padding: 64px 0;
  }

  @include media-min($xxl) {
    padding: 96px 0;
  }

  &__title {
    display: grid;
    margin-bottom: 32px;

    @include media-min($lg) {
      margin-bottom: 48px;
    }

    @include media-min($xxl) {
      margin-bottom: 64px;
    }
  }

  &__table {
    overflow-x: auto;
    width: 100%;
  }
}

.comparison-table {
  position: relative;
  width: 100%;
  min-width: 500px;

  & table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: var(--white);
    border-radius: 32px;
  }

  & th:first-child,
  & td:first-child {
    width: 40%;
  }

  & th:not(:first-child),
  & td:not(:first-child) {
    width: 20%;
  }

  & thead {
    & th {
      padding: 16px 0 8px;
    }

    & th:first-child {
      text-align: start;
      padding-left: 8px;
      font-weight: 400;
      color: var(--black-50);
    }
  }

  & th:nth-child(n + 2),
  td:nth-child(n + 2) {
    text-align: center;
  }

  & tbody {
    & td {
      padding: 8px 8px 16px;
      vertical-align: middle;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
      }
    }

    & tr td:first-child {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
        border-radius: 12px 0 0;
      }
    }

    & tr td:last-child {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
        border-radius: 0 12px;
      }
    }

    & td:nth-child(2),
    & th:nth-child(2) {
      padding-top: 16px;
    }
  }

  &__hover-block {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &:has(.comparison-table__hover-block-item:not(:first-child):hover)
      .comparison-table__hover-block-item {
      outline-color: transparent;
    }
  }

  &__hover-block-item {
    outline: 2px solid transparent;
    transition: outline-color var(--duration-default) ease-in-out;
    outline-offset: -2px;

    &:first-child {
      outline: 2px solid var(--accent);
    }

    @include any-hover {
      &:not(:first-child):hover {
        outline-color: var(--accent) !important;
      }
    }
  }
}
