.experts {
  &__content {
    grid-template-columns: 1fr 0.6fr;
    gap: 64px;
  }

  &__title {
    font-weight: 400;
    color: var(--accent);
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 16px;
    margin-bottom: 96px;
  }

  &__main {
    background-color: var(--white);
    border-radius: 12px;
    padding: 16px;
  }
}

.experts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 32px;
}

.expert-card {
  display: grid;

  &__img {
    position: relative;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid var(--accent-50);
    padding-bottom: 51%;
    max-width: 120px;
    margin-bottom: 10px;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &__post {
    margin-top: 4px;
    color: var(--black-50);
  }
}
