.ecosystem {
  padding: 48px 0;
  background-color: var(--white);

  @include media-min($xl) {
    padding: 64px 0;
  }

  @include media-min($xxl) {
    padding: 96px 0;
  }

  &__main {
    padding: 24px 16px;

    @include media-min($lg) {
      padding: 32px;
    }

    @include media-min($xxl) {
      padding: 48px;
    }
  }

  &__title {
    margin-bottom: 32px;
    display: grid;

    @include media-min($xxl) {
      margin-bottom: 48px;
    }

    & span {
      color: var(--accent);
    }
  }

  &__descr {
    display: grid;
    gap: 16px;
    max-width: 396px;

    @include media-min($xxl) {
      max-width: 525px;
    }
  }

  &__text {
    margin: 0;

    &--accent {
      color: var(--accent);
      font-weight: 700;
    }
  }

  &__note {
    color: var(--black-50);
    max-width: 310px;
    margin-bottom: 24px;

    @include media-min($xl) {
      margin-bottom: 32px;
    }

    @include media-min($xxl) {
      max-width: 375px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-weight: 700;
    border-radius: 12px;
    background-color: var(--white);
    padding: 16px 8px;
    margin-bottom: 8px;

    @include media-min($lg) {
      padding: 16px;
    }

    @include media-min($xxl) {
      padding: 24px;
      margin-bottom: 16px;
    }

    &:not(:last-child) {
      margin-right: 8px;

      @include media-min($xxl) {
        margin-right: 16px;
      }
    }
  }

  &__button {
    align-self: center;

    @include media-min($md) {
      align-self: flex-start;
    }
  }
}
