.hero {
  position: relative;

  &__main {
    padding: 246px 0 48px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        var(--white) 80%
      ),
      linear-gradient(270deg, rgba(255, 255, 255, 0) 49.68%, var(--white) 100%);

    @include media-min($lg) {
      text-align: center;
      padding: 128px 0 64px;
    }

    @include media-min($xxl) {
      padding: 160px 0 96px;
    }
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 48px;

    & span {
      display: inline-block;
      color: var(--accent);
    }

    @include media-min($xxl) {
      margin-bottom: 96px;
    }
  }

  &__meta {
    display: grid;
    margin-bottom: 48px;

    @include media-min($lg) {
      justify-items: center;
    }

    @include media-min($xxl) {
      margin-bottom: 96px;
    }
  }

  &__meta-text {
    max-width: 730px;
    margin-bottom: 16px;

    @include media-min($xxl) {
      max-width: 1050px;
      margin-bottom: 24px;
    }
  }

  &__list {
    font-weight: 700;
    padding-left: 32px;

    @include media-min($lg) {
      padding: 0;
      display: flex;
      justify-content: center;
    }

    & li:not(:last-child) {
      margin-bottom: 8px;

      @include media-min($lg) {
        margin-bottom: 0;
        margin-right: 64px;
      }
    }
  }

  &__button {
    flex-direction: column;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;

    @include media-min($xxl) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
