.hero {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #fff 80%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 80%);
  position: relative;
  padding: 120px 0;

  @include media-min($lg) {
    padding: 92px 0;
  }

  @include media-min($xxl) {
    padding: 160px 0;
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 32px;

    & span {
      display: inline-block;
      color: var(--accent);
    }

    @include media-min($xl) {
      margin-bottom: 64px;
    }

    @include media-min($xxl) {
      margin-bottom: 96px;
    }
  }

  &__buttons {
    display: grid;
    @include media-min($md) {
      display: flex;
    }
  }

  &__button {
    &:not(:last-child) {
      margin-bottom: 16px;

      @include media-min($md) {
        margin-bottom: 0;
        margin-right: 16px;
      }
    }
  }

  &__button--secondary {
    padding: 18px 16px;
    flex-direction: column;
    justify-content: center;

    & span {
      font-weight: 400;
    }
  }

  &__note {
    display: none;
    position: absolute;
    bottom: 48px;
    right: 10px;
    background-image: url("../img/dotted-bg-secondary.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-min($xl) {
      display: block;
    }
  }

  &__note-content {
    position: relative;
    padding: 64px 32px;
    color: var(--accent);
    max-width: 520px;
  }

  &__note-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
