.note {
  padding: 48px 0;
  background-color: var(--white);

  @include media-min($xxl) {
    padding: 64px 0;
  }

  &__main {
    padding: 48px 16px;
    text-align: center;

    @include media-min($lg) {
      padding: 96px 96px 64px;
    }

    @include media-min($xxl) {
      padding: 128px 128px 96px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/note.svg") top/contain no-repeat;
    }
  }

  &__main-red {
    color: var(--red);
  }
}
