.notice {
  background-color: var(--white);
  padding: 48px 0;

  @include media-min($lg) {
    padding: 64px 0;
  }

  @include media-min($xxl) {
    padding: 96px 0;
  }

  &__main {
    display: grid;
    justify-items: center;
  }

  &__title {
    line-height: 1.1;
    justify-self: center;
    color: var(--accent);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    text-align: center;

    @include media-min($xl) {
      margin-bottom: 48px;
    }

    & span {
      display: inline-block;
      font-weight: 400;
      color: var(--black-50);
    }
  }

  &__list {
    display: grid;
    gap: 16px;
    align-items: flex-start;

    @include media-min($lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    display: flex;
    border-radius: 12px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.1) 100%
      ),
      url("../img/dotted-bg-primary.png") center / cover no-repeat;

    @include media-min($lg) {
      min-height: 270px;
    }

    @include media-min($xxl) {
      min-height: 300px;
    }

    &:nth-child(3n + 2) {
      @include media-min($lg) {
        margin-top: 32px;
      }
    }

    &:nth-child(3n) {
      @include media-min($lg) {
        margin-top: 64px;
      }
    }
  }

  &__item-title {
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__item-list {
    @include list-reset;

    padding-left: 24px;
    list-style-type: disc;
    display: grid;
    gap: 6px;
  }

  &__button {
    margin-top: 16px;
    padding: 32px 16px;
    justify-self: center;

    @include media-min($xl) {
      margin-top: 24px;
    }
  }
}
