.solution {
  padding: 64px 0 48px;

  @include media-min($xl) {
    padding: 96px 0 64px;
  }

  @include media-min($xxl) {
    padding: 128px 0 96px;
  }

  &__head {
    margin-bottom: 48px;

    @include media-min($xxl) {
      margin-bottom: 64px;
    }

    @include media-min($xxl) {
      margin-bottom: 128px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include media-min($xxl) {
      margin-bottom: 48px;
    }

    & span {
      color: var(--accent);
    }
  }

  &__text {
    & p {
      margin: 0;
    }
  }

  &__note {
    padding: 24px 16px;
    border-radius: 6px;
    overflow: hidden;
    background-image: url("../img/dotted-bg-secondary.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__button {
    padding: 32px 16px;

    @include media-min($xxl) {
      padding: 40px 32px;
    }
  }
}

.solution-table {
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--white);
  border-radius: 32px;
  width: 100%;
  min-width: 500px;
  overflow-x: auto;

  th:first-child,
  td:first-child {
    width: 40%;
  }

  th:not(:first-child),
  th:not(:first-child) {
    width: 20%;
  }

  thead th {
    padding: 16px 0 8px;
  }

  thead th:first-child {
    text-align: start;
    padding-left: 8px;
  }

  thead tr th:nth-child(2) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid var(--accent);
      border-left: 2px solid var(--accent);
      border-right: 2px solid var(--accent);
      border-radius: 12px 12px 0 0;
    }
  }

  th:nth-child(n + 2),
  td:nth-child(n + 2) {
    text-align: center;
  }

  tbody {
    & td {
      padding: 8px 8px 16px;
      vertical-align: middle;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
      }
    }

    & tr td:first-child {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
        border-radius: 12px 0 0 0;
      }
    }

    & tr td:last-child {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px dotted var(--accent);
        border-radius: 0 12px 0;
      }
    }

    td:nth-child(2),
    th:nth-child(2) {
      padding-top: 16px;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-left: 2px solid var(--accent);
        border-right: 2px solid var(--accent);
      }
    }

    tr:last-child td:nth-child(2) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-left: 2px solid var(--accent);
        border-right: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
        border-radius: 0 0 12px 12px;
      }
    }
  }
}
