.case-client {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 16px;

  @include media-min($lg) {
    margin-bottom: 0;
    max-width: 400px;
    margin-right: 24px;
  }

  @include media-min($xxl) {
    max-width: 500px;
  }
}
