.case {
  padding: 64px 0;
  background-color: var(--white);

  @include media-min($xxl) {
    padding: 96px 0;
  }

  &__title {
    & span {
      color: var(--accent);
    }
  }

  &__main {
    display: grid;
    gap: 32px;

    @include media-min($xl) {
      gap: 48px;
    }
  }

  &__item {
    border-radius: 12px;
    padding: 8px;
    backdrop-filter: blur(5px);
    background-color: var(--black-10);
    display: flex;
    flex-direction: column;

    @include media-min($lg) {
      flex-direction: row;
      padding: 16px;
    }

    @include media-min($xxl) {
      padding: 32px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include media-min($lg) {
      margin-top: 64px;
    }

    @include media-min($xxl) {
      margin-top: 96px;
    }
  }
}
