.case-client-card {
  padding: 16px;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(230, 230, 230, 0) 0%,
      rgba(230, 230, 230, 1) 100%
    ),
    url("../img/dotted-bg-primary.png") top left/ 796px 400px no-repeat;

  @include media-min($lg) {
    top: 100px;
    position: sticky;
  }

  &__label {
    display: inline-block;
  }

  &__title {
    margin: 0;
    margin-top: 10px;
  }
}
