.footer {
  padding: 32px 0;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    url("../img/dotted-bg-secondary.png") center / cover no-repeat,
    linear-gradient(var(--white), var(--white));

  @include media-min($lg) {
    padding: 48px 0;
  }

  @include media-min($xxl) {
    padding: 64px 0;
  }

  &__logo {
    max-width: 200px;
    width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 32px;

    @include media-min($lg) {
      margin-bottom: 0;
      padding-left: 0;
      margin-right: 32px;
    }

    @include media-min($xxl) {
      max-width: 300px;
      margin-right: 64px;
    }
  }

  &__main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 32px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    @include media-min($lg) {
      flex-direction: row;
    }

    @include media-min($xl) {
      padding-left: 16px;
      margin-bottom: 48px;
    }
  }

  &__address {
    padding: 0 16px;
    margin-bottom: 32px;

    @include media-min($lg) {
      margin-bottom: 0;
      padding: 24px 0 0;
      margin-right: 32px;
    }

    @include media-min($xxl) {
      margin-right: 64px;
    }
  }

  &__address-label {
    color: var(--black-50);
    margin-bottom: 6px;
  }

  &__address-value {
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__address-meta {
    color: var(--black-50);
    display: grid;
  }

  &__contacts {
    background-color: var(--accent);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 16px;
    width: 100%;

    @include media-min($lg) {
      padding: 32px;
      max-width: 415px;
    }

    @include media-min($xxl) {
      max-width: 575px;
    }
  }

  &__contacts-list {
    display: grid;
    gap: 24px;

    @include media-min($xxl) {
      gap: 48px;
    }
  }

  &__contacts-label {
    margin-bottom: 6px;
    color: var(--accent-50);
  }

  &__contacts-value {
    color: var(--white);
    font-weight: 700;
  }

  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-min($lg) {
      flex-direction: row;
    }
  }

  &__bottom-item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 16px;

      @include media-min($lg) {
        margin-bottom: 0;
      }
    }

    &--accent {
      color: var(--accent);
    }

    &--link {
      transition: color var(--duration-default) ease-in-out;

      @include any-hover {
        &:hover {
          color: var(--black);
        }
      }
    }
  }

  &__dev-brand {
    display: inline-block;
    color: inherit;
    font-weight: 700;
    transition: color var(--duration-default) ease-in-out;

    @include any-hover {
      &:hover {
        color: var(--black);
      }
    }
  }
}
