.footer {
  position: relative;
  padding: 48px 0;
  // background-color: var(--white);
  // background-image: url("../img/dotted-bg-secondary.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  background: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    url("../img/dotted-bg-secondary.png") center / cover no-repeat,
    linear-gradient(var(--white), var(--white));

  @include media-min($xxl) {
    padding: 64px 0;
  }

  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;

  //   background:
  // }

  &__logo {
    max-width: 200px;
    width: 100%;
    margin-right: 32px;
    padding-top: 16px;

    @include media-min($xxl) {
      max-width: 300px;
      margin-right: 64px;
    }
  }

  &__main {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 32px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    @include media-min($xl) {
      padding-left: 16px;
      margin-bottom: 48px;
    }
  }

  &__address {
    padding-top: 24px;
    margin-right: 32px;

    @include media-min($xxl) {
      margin-right: 64px;
    }
  }

  &__address-label {
    color: var(--black-50);
    margin-bottom: 6px;
  }

  &__address-value {
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__address-meta {
    color: var(--black-50);
  }

  &__contacts {
    background-color: var(--accent);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 32px;
    max-width: 415px;
    width: 100%;

    @include media-min($xxl) {
      max-width: 575px;
    }
  }

  &__contacts-list {
    display: grid;
    gap: 24px;
  }

  &__contacts-label {
    margin-bottom: 6px;
    color: var(--accent-50);
  }

  &__contacts-value {
    color: var(--white);
    font-weight: 700;
  }

  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__bottom-item {
    display: inline-block;

    &--accent {
      color: var(--accent);
    }
  }

  &__dev-brand {
    display: inline-block;
    color: inherit;
    font-weight: 700;
  }
}
