.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 4px 30px 0 rgba(246, 81, 44, 0.3);
  padding: 64px 16px 48px;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 1) 70%
    ),
    url("../img/bg-modal.jpg") center / cover no-repeat;

  @include media-min($xl) {
    padding: 48px 64px;
  }

  &__close {
    @include btn-reset;

    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--black);

    @include media-min($xxl) {
      top: 32px;
      right: 32px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;

    @include media-min($xl) {
      width: 1110px;
    }

    @include media-min($xl) {
      width: 1340px;
    }
  }

  &__title {
    color: var(--accent);
    margin-bottom: 16px;
  }

  &__descr {
    max-width: 500px;

    @include media-min($xxl) {
      max-width: 580px;
    }

    & span {
      color: var(--black-50);
    }
  }
}
