.form-label {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--label-border-color, var(--black-30));
  border-radius: 16px;
  padding: var(--label-offset, 6px 16px 16px);

  & > span {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--label-color, var(--black-30));
  }

  &:has(input:focus-visible),
  &:has(textarea:focus-visible) {
    --label-border-color: var(--black);

    outline: auto;
  }

  &:has(input.is-invalid),
  &:has(textarea.is-invalid) {
    --label-color: var(--error);
  }
}

.form-input {
  font-size: 18px;
  width: 100%;
  padding: var(--label-offset, 0);
  color: inherit;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: var(--input-outline, none);

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

  &.is-invalid {
    border-color: var(--error, #bd0300);
  }

  &--area {
    resize: none;
    height: var(--input-area-height, 6em);
  }
}

.form-select {
  background: url("data:image/svg+xml,%3Csvg width='27' height='8' viewBox='0 0 27 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13.5 7L26 1' stroke='black' stroke-opacity='0.5' /%3E%3C/svg%3E")
    no-repeat right 10px center;
  appearance: none;
  cursor: pointer;
}

.form-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  cursor: pointer;

  & input {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    appearance: none;
    margin: 0;
    width: 25px;
    height: 25px;
    border: 1px solid var(--checkbox-border-color, var(--black-50));
    border-radius: 6px;
    background-color: transparent;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out;
    margin-right: 10px;

    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 7.76471L5.98 12L15.5 3' stroke='black' stroke-width='2' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 17px;
      height: 15px;
    }

    &:checked::before {
      opacity: 1;
    }
  }

  &--color-black-30 {
    color: var(--black-30);
  }

  & a {
    color: inherit;
  }
}
