.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    &--offset {
      padding-top: 120px;

      @include media-min($lg) {
        padding-top: 96px;
      }

      @include media-min($xxl) {
        padding-top: 168px;
      }
    }
  }

  &__footer {
    flex-shrink: 0;
  }

  &__section {
    position: relative;
    z-index: 1;
  }
}
