html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--min-site-width);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

dt,
dd {
  margin: 0;
}

a {
  color: var(--black);
  transition: color var(--duration-default) ease-in-out;

  @include any-hover {
    &:hover {
      color: var(--accent);
    }
  }
}
