html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--white);

  @include media-min($xxl) {
    font-size: 1.8rem;
  }
}

a {
  text-decoration-color: var(--link-line, transparent);
}

.t1 {
  @include indent-reset;

  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;

  @include media-min($xl) {
    font-size: 48px;
  }

  @include media-min($xxl) {
    font-size: 64px;
  }
}

.t2 {
  @include indent-reset;

  font-size: 32px;

  @include media-min($xxl) {
    font-size: 48px;
  }
}

.t3 {
  @include indent-reset;

  font-size: 24px;

  @include media-min($xxl) {
    font-size: 32px;
  }
}

.t4 {
  @include indent-reset;

  font-size: 16px;

  @include media-min($xxl) {
    font-size: 24px;
  }
}

.t-def {
  @include indent-reset;

  font-size: 16px;

  @include media-min($xxl) {
    font-size: 18px;
  }
}

.contact-item {
  color: inherit;
  transition: color var(--duration-default) ease-in-out;

  @include any-hover {
    &:hover {
      color: var(--black);
    }
  }
}
